p{
	text-align: justify;
}

/* Format colaboration container*/
.colaborations_container {
	height: 100%;
	margin: 1%;
    width: 60%;
}

/* Format of contact container */
.contact_container {
    background-color: var(light-background);
    border: 5px inset var(--orange);
    border-radius: 15px;
    margin: auto;
    padding: 2%;
    width: 90%;
}

/* Text alignment of contact form*/
.contact_container p {
    text-align: center;
}

/* Contact form aligment and arrangement in columns*/
.contact_form_container {
    column-count: 2;
    margin: 0 auto;
    width: 90%;
}

/*Format of in-text links*/
.contact_global_link, .privacy_policy_link {
	color: var(--orange);
	text-decoration: none;
}

/*Margin between each form field*/
form li + li {
    margin-top: 1em;
}

/*Format of input and textarea fields of contact form*/
input,textarea {
	border: 1px solid var(--yellow);
	height: 32px;
	min-height: 22px;
	width: 220px;
}

/*Format text entries of fields of contact form*/
input[type="text"],input[type="email"],textarea {
	font-size: 16px;
    margin: 0 auto;
    padding: 4px 6px;
}

/*Size and alignment of checkbox*/
input[type="checkbox"] {
    height: 0;
    margin: 0 auto;
    min-height: 10px;
    width: auto;
}

/*Format of invalid input for field in contact form*/
input:invalid {
    background: #f2dede;
    border: 1px solid var(--orange);
    padding: 4px 6px;
}

/*Label alignment for contact form*/
label {
    display: inline-block;
    padding: 2% 0 0 2%; 
    text-align: right;
    width: 40%;
}

/*Minimum height for message field*/
#message {
	min-height: 150px;
}

#privacy_policy_label {
    text-align: left;
}

select {
    border: 1px solid var(--yellow);
    height: 32px;
    min-height: 22px;
	width: 220px;
    font-family: inherit;
    font-size: inherit;
    padding-left: 2%;
}

/*Format of send button of contact form*/
.send_button {
	background-color: var(--orange);
    border: none;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    margin: 0 0 0 40%;
    min-width: 20%;
    padding: 5px 5px;
    text-decoration: none;
}

/*Subtitle format for contact subtitles*/
.subtitle5 {
	font-size: 24px;
    margin: 1% 0; 	
    padding: 0 1%;
}

/*Size adjustment of support info container */
.support_info_container {
	height: 100%;
	margin: 1%;
    width: 40%;
}

/*Alignment of text in textarea of contact form*/
textarea {
	overflow: auto;
    vertical-align: top;
}

/*Format and size adjustment for mobile devices*/
@media (max-width: 768px){
    
    /*Set width to maximum */
    .colaborations_container, label,.support_info_container {
        width: 100%;
    }

    /*Set number of columns to one of contact form container*/
    .contact_form_container {
        column-count: 1;
    }

    /*Align text to center*/
    .contact_form_container, label, .subtitle5 {
        text-align: center;
    }

    /*Add margin between labels and fields in contact form*/
    label {
        margin: 2% auto;
    }

    /*Set display direction to column*/
    .main_info_container {
        flex-direction: column;
    }

    /*Adjust margin and padding of send button*/
    .send_button {
        margin: 5%;
        padding: 5% 10%;
    }
}